### `Project - MovieLens Data Analysis`

The GroupLens Research Project is a research group in the Department of Computer Science and Engineering at the University of Minnesota. The data is widely used for collaborative filtering and other filtering solutions. However, we will be using this data to act as a means to demonstrate our skill in using Python to “play” with data.


### `Objective:`
- To implement the techniques learnt as a part of the course.

### `Learning Outcomes:`
- Exploratory Data Analysis

- Visualization using Python

- Pandas – groupby, merging 


### `Domain` 
- Internet and Entertainment

**Note that the project will need you to apply the concepts of groupby and merging extensively.**

### `Datasets Information:`


*rating.csv:* It contains information on ratings given by the users to a particular movie.
- user id: id assigned to every user
- movie id: id assigned to every movie
- rating: rating given by the user
- timestamp: Time recorded when the user gave a rating



*movie.csv:* File contains information related to the movies and their genre.
- movie id: id assigned to every movie
- movie title: Title of the movie
- release date: Date of release of the movie
- Action: Genre containing binary values (1 - for action 0 - not action)
- Adventure: Genre containing binary values (1 - for adventure 0 - not adventure)
- Animation: Genre containing binary values (1 - for animation 0 - not animation)
- Children’s: Genre containing binary values (1 - for children's 0 - not children's)
- Comedy: Genre containing binary values (1 - for comedy 0 - not comedy)
- Crime: Genre containing binary values (1 - for crime 0 - not crime)
- Documentary: Genre containing binary values (1 - for documentary 0 - not documentary)
- Drama: Genre containing binary values (1 - for drama 0 - not drama)
- Fantasy: Genre containing binary values (1 - for fantasy 0 - not fantasy)
- Film-Noir: Genre containing binary values (1 - for film-noir 0 - not film-noir)
- Horror: Genre containing binary values (1 - for horror 0 - not horror)
- Musical: Genre containing binary values (1 - for musical 0 - not musical)
- Mystery: Genre containing binary values (1 - for mystery 0 - not mystery)
- Romance: Genre containing binary values (1 - for romance 0 - not romance)
- Sci-Fi: Genre containing binary values (1 - for sci-fi 0 - not sci-fi)
- Thriller: Genre containing binary values (1 - for thriller 0 - not thriller)
- War: Genre containing binary values (1 - for war 0 - not war)
- Western: Genre containing binary values (1 - for western - not western)



*user.csv:* It contains information of the users who have rated the movies.
- user id: id assigned to every user
- age: Age of the user
- gender: Gender of the user
- occupation: Occupation of the user
- zip code: Zip code of the use


**`Please provide you insights wherever necessary.`**

### 1. Import the necessary packages - 2.5 marks

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 2. Read the 3 datasets into dataframes - 2.5 marks

In [2]:
data = pd.read_csv('Data.csv')
item_data = pd.read_csv('item.csv')
user_data = pd.read_csv('user.csv')

### 3. Apply info, shape, describe, and find the number of missing values in the data - 5 marks
 - Note that you will need to do it for all the three datasets seperately

In [32]:
print('Info of data is: ')
data.info()
print('\n')
print('Shape of data is: ')
print(data.shape)
print('\n')
print('Description of data is: ')
print(data.describe())
print('\n')
print('No. of missing values in each column in the data is: ')
print(data.isnull().sum())
print('\n')
print('No. of missing values in all columns: ')
print(sum(data.isnull().sum()))
print('\n')

print('Info of item_data is: ')
item_data.info()
print('\n')
print('Shape of item_data is: ')
print(item_data.shape)
print('\n')
print('Description of item_data is: ')
print(item_data.describe())
print('\n')
print('No. of missing values in each column in the item_data is: ')
print(item_data.isnull().sum())
print('\n')
print('No. of missing values in all columns: ')
print(sum(item_data.isnull().sum()))
print('\n')

print('Info of user_data is: ')
user_data.info()
print('\n')
print('Shape of user_data is: ')
print(user_data.shape)
print('\n')
print('Description of user_data is: ')
print(user_data.describe())
print('\n')
print('No. of missing values in each column in the user_data is: ')
print(user_data.isnull().sum())
print('\n')
print('No. of missing values in all columns: ')
print(sum(user_data.isnull().sum()))
print('\n')

Info of data is:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user id    100000 non-null  int64
 1   movie id   100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB


Shape of data is:
(100000, 4)


Description of data is:
            user id       movie id         rating     timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08


No. of missing values in each column in the data is:
user id      0
movie id     0
rating       0
timestamp    0
dtype: int64


No. of missing values in all columns:
0


Info of item_data is:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1681 entries, 0 to 1680
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie id      1681 non-null   int64
 1   movie title   1681 non-null   object
 2   release date  1681 non-null   object
 3   unknown       1681 non-null   int64
 4   Action        1681 non-null   int64
 5   Adventure     1681 non-null   int64
 6   Animation     1681 non-null   int64
 7   Childrens     1681 non-null   int64
 8   Comedy        1681 non-null   int64
 9   Crime         1681 non-null   int64
 10  Documentary   1681 non-null   int64
 11  Drama         1681 non-null   int64
 12  Fantasy       1681 non-null   int64
 13  Film-Noir     1681 non-null   int64
 14  Horror        1681 non-null   int64
 15  Musical       1681 non-null   int64
 16  Mystery       1681 non-null   int64
 17  Romance       1681 non-null   int64
 18  Sci-Fi        1681 non-null   int64
 19  Thriller      1681 non-null   int64
 20  War           1681 non-null   int64
 21  Western       1681 non-null   int64
dtypes: int64(20), object(2)
memory usage: 289.0+ KB


Shape of item_data is:
(1681, 22)


Description of item_data is:
          movie id      unknown       Action    Adventure    Animation  \
count  1681.000000  1681.000000  1681.000000  1681.000000  1681.000000
mean    841.841761     0.000595     0.149316     0.080309     0.024985
std     485.638077     0.024390     0.356506     0.271852     0.156126
min       1.000000     0.000000     0.000000     0.000000     0.000000
25%     422.000000     0.000000     0.000000     0.000000     0.000000
50%     842.000000     0.000000     0.000000     0.000000     0.000000
75%    1262.000000     0.000000     0.000000     0.000000     0.000000
max    1682.000000     1.000000     1.000000     1.000000     1.000000

         Childrens       Comedy        Crime  Documentary        Drama  \
count  1681.000000  1681.000000  1681.000000  1681.000000  1681.000000
mean      0.072576     0.300416     0.064842     0.029744     0.431291
std       0.259516     0.458576     0.246321     0.169931     0.495404
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     1.000000     0.000000     0.000000     1.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

           Fantasy    Film-Noir       Horror      Musical      Mystery  \
count  1681.000000  1681.000000  1681.000000  1681.000000  1681.000000
mean      0.013087     0.014277     0.054729     0.033314     0.036288
std       0.113683     0.118667     0.227519     0.179507     0.187061
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

           Romance       Sci-Fi     Thriller          War      Western
count  1681.000000  1681.000000  1681.000000  1681.000000  1681.000000
mean      0.146936     0.060083     0.149316     0.042237     0.016062
std       0.354148     0.237712     0.356506     0.201189     0.125751
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000


No. of missing values in each column in the item_data is:
movie id        0
movie title     0
release date    0
unknown         0
Action          0
Adventure       0
Animation       0
Childrens       0
Comedy          0
Crime           0
Documentary     0
Drama           0
Fantasy         0
Film-Noir       0
Horror          0
Musical         0
Mystery         0
Romance         0
Sci-Fi          0
Thriller        0
War             0
Western         0
dtype: int64


No. of missing values in all columns:
0


Info of user_data is:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB


Shape of user_data is:
(943, 5)


Description of user_data is:
          user id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000


No. of missing values in each column in the user_data is:
user id       0
age           0
gender        0
occupation    0
zip code      0
dtype: int64


No. of missing values in all columns:
0

### 4. Find the number of movies per genre using the item data - 2.5 marks

In [118]:
for genre in item_data.columns[3:]:
    print('The no. of movies under ', genre, ' is: ', item_data[genre].sum())    
    #print('The no. of movies under ', genre, ' is: ', item_data.where(item_data[genre] == 1).groupby(genre).size()[1])

The no. of movies under  unknown  is:  0
The no. of movies under  Action  is:  251
The no. of movies under  Adventure  is:  135
The no. of movies under  Animation  is:  42
The no. of movies under  Childrens  is:  122
The no. of movies under  Comedy  is:  505
The no. of movies under  Crime  is:  109
The no. of movies under  Documentary  is:  50
The no. of movies under  Drama  is:  725
The no. of movies under  Fantasy  is:  22
The no. of movies under  Film-Noir  is:  24
The no. of movies under  Horror  is:  92
The no. of movies under  Musical  is:  56
The no. of movies under  Mystery  is:  61
The no. of movies under  Romance  is:  247
The no. of movies under  Sci-Fi  is:  101
The no. of movies under  Thriller  is:  251
The no. of movies under  War  is:  71
The no. of movies under  Western  is:  27

### 5. Drop the movie where the genre is unknown - 2.5 marks

In [102]:
item_data.drop(item_data[item_data['unknown'] == 1].index, inplace = True)

0       3
1       3
2       1
3       3
4       3
       ..
1676    1
1677    2
1678    2
1679    1
1680    1
Length: 1680, dtype: int64

### 6. Find the movies that have more than one genre - 5 marks

hint: use sum on the axis = 1

Display movie name, number of genres for the movie in dataframe

and also print(total number of movies which have more than one genres)

In [125]:
item_data.iloc[:, 3:].sum(axis=1)

0       3
1       3
2       1
3       3
4       3
       ..
1676    1
1677    2
1678    2
1679    1
1680    1
Length: 1680, dtype: int64

### 7. Univariate plots of columns: 'rating', 'Age', 'release year', 'Gender' and 'Occupation' - 10 marks

*HINT: Use distplot for age. Use lineplot or countplot for release year.*

*HINT: Plot percentages in y-axis and categories in x-axis for ratings, gender and occupation*

*HINT: Please refer to the below snippet to understand how to get to release year from release date. You can use str.split() as depicted below or you could convert it to pandas datetime format and extract year (.dt.year)*

In [18]:
a = 'My*cat*is*brown'
print(a.split('*')[3])

#similarly, the release year needs to be taken out from release date

#also you can simply slice existing string to get the desired data, if we want to take out the colour of the cat

print(a[10:])
print(a[-5:])

brown
brown
brown

### 8. Visualize how popularity of genres has changed over the years - 10 marks

Note that you need to use the **percent of number of releases in a year** as a parameter of popularity of a genre

Hint 1: You need to reach to a data frame where the release year is the index and the genre is the column names (one cell shows the number of release in a year in one genre) or vice versa. (Drop unnecessary column if there are any)

Hint 2: Find the total number of movies release in a year(use `sum(axis=1)` store that value in a new column as 'total'). Now divide the value of each genre in that year by total to get percentage number of release in a particular year.
`(df.div(df['total'], axis= 0) * 100)`

Once that is achieved, you can either use univariate plots or can use the heatmap to visualise all the changes over the years 
in one go. 

Hint 3: Use groupby on the relevant column and use sum() on the same to find out the number of releases in a year/genre.

### 9. Find the top 25 movies according to average ratings such that each movie has number of ratings more than 100 - 10 marks

Hints : 

1. Find the count of ratings and average ratings for every movie.
2. Slice the movies which have ratings more than 100.
3. Sort values according to average rating such that movie which highest rating is on top.
4. Select top 25 movies.
5. You will have to use the .merge() function to get the movie titles.

Note: This question will need you to research about groupby and apply your findings. You can find more on groupby on https://realpython.com/pandas-groupby/.

### 10. See gender distribution across different genres check for the validity of the below statements - 10 marks

* Men watch more drama than women
* Women watch more Sci-Fi than men
* Men watch more Romance than women

**compare the percentages**

1. Merge all the datasets

2. There is no need to conduct statistical tests around this. Just **compare the percentages** and comment on the validity of the above statements.

3. you might want ot use the .sum(), .div() function here.

4. Use number of ratings to validate the numbers. For example, if out of 4000 ratings received by women, 3000 are for drama, we will assume that 75% of the women watch drama.